{% extends 'base.html' %} {% block content %}

<h1>New Item</h1>

<form method="POST" action="{{url_for('main.new_item')}}">
  {{form.csrf_token}}
  <fieldset>
    <legend>Please enter your information:</legend>
    <p>
      <em>
        {{form.name.label}} {{form.name}} {{form.price.label}} {{form.price}}
        {{form.category.label}} {{form.category}} {{form.photo_url.label}}
        {{form.photo_url}} {{form.store.label}} {{form.store}}
      </em>
    </p>

    {{ form.submit }}
  </fieldset>
</form>

{% endblock %}
